<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326209137211-bp5b76vm7f3o0e5qadq2cr3gmjcpt5fv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326209137211-bp5b76vm7f3o0e5qadq2cr3gmjcpt5fv</string>
	<key>API_KEY</key>
	<string>AIzaSyBshToFe6uAtIGZwUvbW4cI7rpiWiGZlsk</string>
	<key>GCM_SENDER_ID</key>
	<string>326209137211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smony.banking</string>
	<key>PROJECT_ID</key>
	<string>dev-flutter-c80d0</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-flutter-c80d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326209137211:ios:90bd9ee09e61e2604b0a1e</string>
	<key>DATABASE_URL</key>
	<string>https://dev-flutter-c80d0.firebaseio.com</string>
</dict>
</plist>